@charset "utf-8";
/* CSS Document */
body > center > div {
	width: 850px;
	padding: 10px;
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.9);
}

center {
	margin-top: 8em;
	margin-bottom: 5em;
}

.parentContainer {
	width: 850px;	
}
.memberInfoContainer {
	float: left;
	border: 1px solid #333;
	padding: 5px 5px 5px 10px;
}
.membertypeInfoContainer {
	border: 1px solid #333;
	padding: 0 20px;
	position: absolute;
	top: 458px;
	left: 500px;
	width: 650px;
	background: rgba(40, 40, 40, 0.8) none repeat scroll 0% 0%;
	
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.workoutRegButtons {
	position: absolute;
	top: 470px;
	left: 20px;
}
.buttonContainer {
	clear: both;
	padding: 10px 0;
}
.workoutRegButtons {
	clear: both;
	padding: 20px 0;
}
.genderContainer {
	width: 405px;
	padding: 10px;
	background: rgba(40, 40, 40, 0.8) none repeat scroll 0% 0%;
}
.typeContainer, .discountContainer {
	width: 250px;
	padding: 10px;
	background-color: #333;
}
label.choiceLabel {
	font-size:12px;
	font-weight: bold;
	width: 80px;
	display: inline-block;	
	margin-left: 10px;
}
label.selectLabel {
	font-size:14px;
	font-weight: bold;
	width: 100px;
	display: inline-block;	
}
.emergencyContainer {
	background: rgba(40, 40, 40, 0.8) none repeat scroll 0% 0%;
	padding: 10px;
}
label {
	font-size:14px;
	font-weight: bold;
	width: 150px;
	display: inline-block;
}

label.loginLabel {
	font-size:14px;
	font-weight: bold;
	width: 80px;
	display: inline-block;
}

label.small {
	width: 50px;
}

label.smaller {
	width: 40px;
}

input[type='text'], input[type='password'], textarea {
	width: 250px;	
	padding: 2px 10px;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid black;
	background-color: #666;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}

input[readonly='true'], textarea[readonly='true'] {
	width: 250px;	
	padding: 2px 10px;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid black;
	background-color: #201F1F !important;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}

#formServiceType label {
	font-size:14px;
	font-weight: bold;
	width: 200px;
	display: inline-block;
}

#formServiceType input[type='text'], input[type='password'], textarea {
	width: 200px;	
	padding: 2px 10px;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid black;
	background-color: #666;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}

input.dateField {
	width: 100px;
}

textarea {
	resize: none;
}

#formItem textarea {
	width: 250px;
}

input[type='submit'], input[type='reset'], button.submitButton {
	font-size:14px;
	font-weight: bold;
	padding: 5px 15px;
	background-color: #333;
	color: #ccc;
	cursor: pointer;
}

select {
	padding: 3px 10px;
	border: 2px solid black;
	font-size: 12px;
	font-weight: bold;
	background-color: #666;
	color: #fff;
}

div.loginContainer {
	background-color: #333;
	width: 370px;
	height: 135px;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -68px;
	margin-left: -185px;
	box-shadow: 10px 10px 5px #333;
	border-radius: 10px;
}

div.formContainer {
	padding: 20px;
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.9);
	width: 450px;
	height: 338px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -169px;
	margin-left: -475px;
}

div.homeContainer {
	/* background: rgba(243, 192, 14, 0.9); */
	background: rgba(20, 20, 20, 0.9);
    border: 1px solid #333;
    height: 500px;
    left: 50%;
    margin-left: -500px;
    margin-top: -250px;
    padding: 5px;
    position: fixed;
    top: 50%;
    width: 1000px;
}

div.homeContainer > img.homeToolButtons {
	height: 500px;
	width: 1000px;
}

div.userPageContainer {
/*
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -600px;
	margin-top: -250px;
	width: 1200px;
	height: 640px;
	background: rgba(20, 20, 20, 0.9);
	padding: 10px;
*/	
	
    background: rgba(20, 20, 20, 0.9) none repeat scroll 0 0;
    height: 640px;
    left: 50%;
    margin-left: -600px;
    margin-top: 120px;
    padding: 10px;
    position: absolute;
    width: 1200px;
}

div.userContainer {
	padding: 20px;
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.9);
	width: 450px;
	height: 542px;
	display: inline-block;
}

div.memberPageContainer{
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -600px;
    margin-top: 100px;
	width: 1200px;
	height: 650px;
	background: rgba(20, 20, 20, 0.9) none repeat scroll 0 0;
    padding: 10px;
	display: block;
}

div.sellProductItemPageContainer {
	background: rgba(20, 20, 20, 0.9) none repeat scroll 0 0;
    height: 550px;
    left: 50%;
    margin-left: -600px;
    margin-top: 120px;
    padding: 10px;
    position: relative;
    top: 0;
    width: 1200px;
	display: block;
}

div.workoutRegistrationPageContainer {
	background: rgba(20, 20, 20, 0.9) none repeat scroll 0 0;
    height: 550px;
    left: 50%;
    margin-left: -600px;
    margin-top: 120px;
    padding: 10px;
    position: relative;
    top: 0;
    width: 1200px;
	display: block;
}


div.memberContainer {
	padding: 10px;
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.9);
	width: 460px;
	/* height: 500px; */
	display: inline-block;
	position: absolute;
}

div.memberDetailsContainer {
	padding: 10px;
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.9);
	width: 450px;
	margin-top: 10px;
	display: inline-block;
}

div.memberTypeInfoContainer {
	padding: 10px;
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.9);
	width: 270px;
	height: 500px;
	display: inline-block;
	position: absolute;
	left: 500px;
}

div.itemPageContainer {
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -175px;
	margin-left: -600px;
	width: 1000px;
	height: 350px;
	background: rgba(20, 20, 20, 0.9);
	padding: 10px;
}

div.serviceTypePageContainer {
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -600px;
	width: 1000px;
	height: 450px;
	background: rgba(20, 20, 20, 0.9) none repeat scroll 0% 0%;
	padding: 10px;
}

div.itemContainer {
	padding: 20px;
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.9) none repeat scroll 0% 0%;
	width: 430px;
	height: 300px;
	display: inline-block;
}

div.itemDetailsContainer {
	padding: 20px;
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.9) none repeat scroll 0% 0%;
	width: 430px;
	height: 300px;
	/* display: inline-block; */
}

div.serviceTypeContainer {
	padding: 20px;
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.9) none repeat scroll 0% 0%;
	width: 430px;
	height: 400px;
	display: inline-block;
}

span#spanMemberStatus, span#spanMemberWorkoutStatus {
	display: block;
	width: 460px;
	padding: 10px;
	background-color: #333;
	font-size: 12px;
	margin-left: -10px;
	margin-top: -10px;
	margin-bottom: 10px;
	font-weight: bold;
}
span#spanSellProductItemStatus {
	display: block;
	width: 450px;
	padding: 10px;
	background-color: #333;
	font-size: 12px;
	margin-left: -20px;
	margin-top: -20px;
	margin-bottom: 10px;
	font-weight: bold;
}
span#spanUserStatus {
	display: block;
	width: 470px;
	padding: 10px;
	background-color: #333;
	font-size: 12px;
	margin-left: -20px;
	margin-top: -20px;
	font-weight: bold;
}
span#spanItemStatus, span#spanServiceTypeStatus {
	display: block;
	width: 450px;
	padding: 10px;
	background-color: #333;
	font-size: 12px;
	margin-left: -20px;
	margin-top: -20px;
	font-weight: bold;
}

span.success {
	color: mediumspringgreen;
}
span.error {
	color: #FB3222;
}

div#dvUserListContainer {
	padding: 20px;
	border: 1px solid #333;
	background: rgba(40, 40, 40, 0.8) none repeat scroll 0% 0%;
	width: 660px;
	height: 550px;
	position: absolute;
	top: 50%;
	left: 510px;
	margin-top: -320px;
	overflow-y: auto;
}
div#dvItemListContainer {
	padding: 20px;
	border: 1px solid #333;
	background: rgba(40, 40, 40, 0.8) none repeat scroll 0% 0%;
	width: 460px;
	min-height: 310px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 0;
	margin-top: -176px;
	max-height: 310px;
}

div#dvServiceTypeListContainer {
	padding: 20px;
	border: 1px solid #333;
	background: rgba(40, 40, 40, 0.8) none repeat scroll 0% 0%;
	width: 460px;
	height: 320px;
	position: absolute;
	left: 50%;
	margin-left: 0;
	display: iinline-block;
	top: 10px;
}

div.headerIconLabel {
	cursor: pointer;
}
div.headerIconLabel > img.headerSmallImage:hover, div.headerIconLabel > span:hover {
	background: rgba(40, 40, 40, 0.9);
}

div.headerContainer, div.footerContainer1, div.footerContainer2, div.footerContainer3 {
	width: 99.9%;
	background: rgba(20, 20, 20, 0.9);
}

div.headerContainer {
	position: absolute;
	top: 0;
	height: 4.25em;
	margin-bottom: 3em;
}

div.footerContainer1 {
   height: 3em;
   margin-top: 60px;
}

div.footerContainer2 {
   position: fixed; 
   left:0px;
   bottom:0px;
   height: 3em;
}

div.footerContainer3 {
    height: 3em;
    left: 0;
    margin-top: 80px;
    position: absolute;
	top: 100%;
    /* width: 100%; */
}

div.footerContainer1 > span, div.footerContainer2 > span, div.footerContainer3 > span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
	color: #ccc;
}

div.footerContainer1 > span.left, div.footerContainer2 > span.left, div.footerContainer3 > span.left {
	top: 28%;
	left: 0px;
	margin-left: 10px;
	position: relative;
}

div.footerContainer1 > span b, div.footerContainer2 > span b, div.footerContainer3 > span b {
	color: #F3C00E;
}

div.footerContainer1 > span.right, div.footerContainer2 > span.right, div.footerContainer3 > span.right {
	top: 28%;
	float: right;
	margin-right: 10px;
	position: relative;
}

div.headerContainer > div > span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
	font-weight: bold;
    margin-left: 0.25em;
    position: relative;
    top: 0.3em;
}

img.headerSmallImage {
	padding: 5px 0;
	margin-left: 10px;
	height: 32px;
	vertical-align: middle;
}
img.headerImage {
	padding: 5px;
	width: 48px;
	height: 48px;
	vertical-align: middle;
}

div.headerMenuButton {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60px;
}

div.headerLogout {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
}

div.headerLogout > a:link, div.headerLogout > a:visited, div.headerLogout > a:active {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
	font-weight: bold;
	color: #ccc;
	text-decoration: none;
} 
div.headerLogout > a:hover {
	color: #F3C00E;
}

img.headerMenuImage {
	padding: 10px 0;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	cursor: pointer;
}

img.toolImage {
	margin: 15px;
	width: 64px;
	height: 64px;
	vertical-align: middle;
	cursor: pointer;
}

#tblTools {
	padding: 10px;
}

#tblTools > td.tool {
	padding: 10px;
}

.dateContainer {
	display: inline-block;
	margin-bottom: 15px;
}

div.monthlyEffectivity {
	margin-top: 10px;
}

p.serviceTypeContainer {
	padding: 5px 0;
}

div.typeDiscountContainer {
	padding: 0;
	width: 280px;
	display: inline-block;
	border-right: 1px solid #555;
}

div.serviceTypeMonthlyEffectivityContainer {
	padding: 0;
	width: 350px;
	display: inline-block;
	margin-left: 10px;
}

div#dvMemberListContainer{
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.8) none repeat scroll 0% 0%;
	position: absolute;
	left: 500px;
	top: 10px;
	width: 690px;
	height: 440px;
	max-height: 440px;
	overflow-y: auto;
}

div#dvAttendanceListContainer{
	border: 1px solid #333;
	background: rgba(20, 20, 20, 0.8) none repeat scroll 0% 0%;
	position: absolute;
	left: 800px;
	top: 10px;
	width: 360px;
	height: 510px;
	padding: 5px 25px;
}

tr.hover {
	background-color: yellow;
	font-weight: bold;
	cursor: pointer;
}

.odd {
	background: #EFD98E none repeat scroll 0% 0%;
}
.even {
	background: #DDDBDB none repeat scroll 0% 0%;
}

input[type='submit'].searchButton {
	padding: 0 2px;
	background: transparent url("../images/icons/findsmall.png") no-repeat scroll 0px 0px;
	border: 0px none;
	width: 20px;
	cursor: pointer;
}

img.clearSearchButton {
	display:inline-block;
	vertical-align: middle;
}

#txtFirstname.error, #txtLastname.error, #txtMiddlename.error {
	border-color: #FB3222;
}

label[for='txtSearchKey'] {
  width: 100px;
}

select {
	padding: 5px 10px;
	border: 3px solid #000;
}

.flexContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}
.flexItem {
	display: iinline-block;
}